* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(47, 92, 241);
  font-family: sans-serif;
}

#accordion {
  margin: 50px auto;
  width: 600px;
}

#accordion li {
  list-style: none;
  width: 100%;
  margin-bottom: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

#accordion li label {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: rgb(30, 45, 255);
  cursor: pointer;
}

#accordion li label span {
  color: rgb(30, 45, 255);
}

#accordion label + input[type="radio"] {
  display: none;
}

#accordion .content {
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#accordion label + input[type="radio"]:checked + .content {
  max-height: 400px;
}
