* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  /* background: rgb(16, 16, 16); */
  background: rgb(9,0,36);
  background: linear-gradient(45deg, rgba(9,0,36,1) 0%, rgba(12,9,121,1) 10%, rgba(0,33,255,1) 20%, rgba(0,101,255,1) 30%, rgba(0,153,255,1) 40%, rgba(0,170,255,1) 50%, rgba(0,234,255,1) 60%, rgba(0,80,255,1) 70%, rgba(0,110,255,1) 81%, rgba(104,0,255,1) 90%, rgba(9,0,36,1) 100%);
  font-family: sans-serif;
}

.btn-1 a {
  text-decoration: none;
  color: antiquewhite;
  border: 2px solid antiquewhite;
  padding: 2rem 5rem;
  position: relative;
  overflow: hidden;
  transition: all 1s;
}

.btn-1 a:before {
  content: "DOWNLOAD";
  font-weight: bold;
  color: #000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: antiquewhite;
  transform: translateY(-100%);
  transition: all 1s;
  /* center */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-1 a:hover:before {
  transform: translateY(0);
}

/* Btn 2 */
.btn-2{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.btn-2 a {
  padding: 2rem 3rem;
  text-transform: uppercase;
  background-color: blueviolet;
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  text-decoration: none;
}

.btn-2 a::before {
  content: "button";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(20, 33, 220);
  /* center our content */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Let's provide our rotation/animation */
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
}

.btn-2 a::after {
  content: "button";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(14, 231, 14);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
  transition-delay: 0.25s;
}

.btn-2 a:hover:before,
.btn-2 a:hover:after {
  transform: rotateX(0);
}
