body {
  background: blueviolet;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
h1 {
  color: #fff;
  font-weight: 200;
}
h2 {
  color: #fff;
  font-weight: 200;
}

button {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 15px;
  border: 2px solid white;
  border-radius: 10px;
  background: transparent;
  overflow-x: auto;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
}

button:active {
  padding: 5px;
}
