* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: sans-serif;
  background: #383838;
  color: #fff;
}

.content {
  padding: 4rem;
}

.scroll-indicator {
  height: 7px;
  width: calc(100% - 6em);
  position: fixed;
  top: 5px;
  left: 3em;
  border-radius: 3px;
  z-index: 9;
}

.scroll-indicator .progress {
  height: 100%;
  width: 0;
  border-radius: 3px;
  background: linear-gradient(30deg, #b1ddf1, #fccb06);
  transition: width 0.1s;
}

section {
  border: 1px solid white;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
}

section h1 {
  margin: 10px 0;
}
