* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #AA0000;
  --secondry-color: #FF033E;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #FBCEB1;
}

/* main-heart */
.main-heart {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  background: var(--primary-color);
}

.main-heart:before,
.main-heart:after {
  height: 100px;
  width: 100px;
  position: absolute;
  content: "";
  background: var(--primary-color);
  border-radius: 50%;
}

.main-heart:before {
  top: -50px;
  left: 0;
}

.main-heart:after {
  left: 50px;
  top: 0;
}

/* red-heart */
.red-heart {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  visibility: hidden;
  transform: rotate(-45deg);
  background: var(--secondry-color);
}

.red-heart:before,
.red-heart:after {
  height: 100px;
  width: 100px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background: var(--secondry-color);
}

.red-heart:before {
  top: -50px;
  left: 0;
}

.red-heart:after {
  left: 50px;
  top: 0;
}

.red-heart.animation {
  animation: pop 0.9s linear;
  visibility: visible;
}

.red-heart.fill-color {
  background: var(--secondry-color);
}

@keyframes pop {
  100% {
    transform: scale(1.7) rotate(-45deg);
    opacity: 0;
  }
}
